body {
  background-color: #efebe8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFEBE8', endColorstr='#FFE1D8CE');
  background-image: -moz-linear-gradient(top, #efebe8 0%, #e1d8ce 100%);
  background-image: -webkit-linear-gradient(top, #efebe8 0%, #e1d8ce 100%);
  background-image: linear-gradient(to bottom, #efebe8 0%, #e1d8ce 100%);
}

.changePasswordSwitch {
  height: 83px;
  width: 234px;
  overflow:hidden;
  float:left;
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  /*background-color: #d1d1d1;*/
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D1D1', endColorstr='#FFFEFBF7');
  /*background-image: -moz-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);*/
  /*background-image: -webkit-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);*/
  /*background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);*/
}
.changePasswordSwitch:after {
  height: 70px;
  width: 220px;
  position: relative;
  /*top: 7px;*/
  /*left: 7px;*/
  content: '';
  z-index: 2;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  /*background-color: #a5a5a5;*/
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA5A5A5', endColorstr='#FFE8D7BE');
  /*background-image: -moz-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);*/
  /*background-image: -webkit-linear-gradient(top, #a5a5a5 0%, #e8d7be 100%);*/
  /*background-image: linear-gradient(to bottom, #a5a5a5 0%, #e8d7be 100%);*/
}

.checkbox {
  height: 50px;
  width: 100px;
  position: absolute;
  /*top: 12px;*/
  left: 12px;
  z-index: 10000;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  /*-moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  /*-webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  /*box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  background-color: #3478F6;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF28A00', endColorstr='#FFD86517');
  /*background-image: -moz-linear-gradient(top, #3478F6 0%, #e65300 67%, #d86517 100%);*/
  /*background-image: -webkit-linear-gradient(top, #3478F6 0%, #e65300 67%, #d86517 100%);*/
  /*background-image: linear-gradient(to bottom, #3478F6 0%, #e65300 67%, #d86517 100%);*/
}
.checkbox:after {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 9999;
  -moz-border-radius: 35px 0 0 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px 0 0 35px;
  /*-moz-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  /*-webkit-box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  /*box-shadow: inset 0px 9px 15px rgba(0, 0, 0, 0.53), inset 0 -8px 10px rgba(0, 0, 0, 0.14);*/
  background-color: #333;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1DD00', endColorstr='#FF84AD00');
  /*background-image: -moz-linear-gradient(top, #333 0%, #7eaf00 67%, #84ad00 100%);*/
  /*background-image: -webkit-linear-gradient(top, #333 0%, #7eaf00 67%, #84ad00 100%);*/
  /*background-image: linear-gradient(to bottom, #333 0%, #7eaf00 67%, #84ad00 100%);*/
}

.control {
  height: 60px;
  width: 68px;
  outline: 0;
  position: absolute;
  /*top: 12px;*/
  left: 6px;
  z-index: 10001;
  padding-bottom:10px!important;
  -webkit-appearance: none;
  -moz-border-radius: 60px!important;
  -webkit-border-radius: 60px!important;
  border-radius: 60px!important;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.55), inset 0 2px 0 #fafafa, inset 0 -2px 0 #ada39d;
  background-color: #efefef;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFEFEF', endColorstr='#FFBCB9B8');
  background-image: -moz-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
  background-image: -webkit-linear-gradient(top, #efefef 32%, #bcb9b8 100%);
  background-image: linear-gradient(to bottom, #efefef 32%, #bcb9b8 100%);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.control:checked {
  left:50px;
}
.control:after {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  content: '';
  z-index: 10001;
  -moz-border-radius: 50%!important;
  -webkit-border-radius: 50%!important;
  border-radius: 50%!important;
  background-color: #c2c0be;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC2C0BE', endColorstr='#FFD7D7D7');
  background-image: -moz-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
  background-image: -webkit-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
  background-image: linear-gradient(to bottom, #c2c0be 0%, #d7d7d7 72%);
}
