/*大于600*/
@media only screen and (max-width: 1200px) {
    .register-box{
    	position: fixed;
    	top: 261px;
    	right: 204px;
		width:533px;
		height:607px;
		overflow:auto;
		background:rgba(255,255,255,1);
		box-shadow:0px 0px 35px 0px rgba(0,0,0,0.08);
		border-radius:10px;
		opacity:0.8;
	}
	.register-box .title{
		text-align: center;
		font-size: 36px;
		color: #333333;
		line-height:30px;
		padding-top: 94px;
	}
	.register-box .phone{
		display: block;
		margin: 0 auto;
		width: 290px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		margin-top: 15px;
		background: url(../images/login-icon-phone.png) no-repeat 0px 12px;
		padding-left: 42px;
		outline: none;
		font-size: 18px;
	}
	.register-box .yzm-box{
		display: block;
		width: 332px;
		height: 46px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		margin: 0 auto;
		margin-top: 18px;
	}
	.register-box .yzm-box .yzm-img{
		display: block;
		float: left;
		width: 22px;
		height: 25px;
		margin-right: 18px;
	}
	.register-box .yzm-box .yzm{
		display: block;
		float: left;
		width: 170px;
		margin-top: 3px;
		font-size: 18px;
	}
	.register-box .yzm-box .yzm-btn{
		display: block;
		float: right;
		width:100px;
		height:32px;
		line-height: 32px;
		background: #3478F6;
		border-radius:17px;
		font-size:12px;
		text-align: center;
		font-weight:400;
		color:rgba(255,255,255,1);
		cursor: pointer;
	}
	.register-box .pass{
		display: block;
		margin: 0 auto;
		width: 290px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		background: url(../images/login-icon-password.png) no-repeat 0px 12px;
		padding-left: 48px;
		outline: none;
		font-size: 18px;
		margin-top: 10px;
	}
	.addInputStyle{
		display: block;
		margin: 0 auto;
		width: 290px;
		height: 60px;
		line-height: 60px;
		padding-left: 30px;
		border-bottom: 1px solid #3478F7;
		background: url(../images/login-icon-password.png) no-repeat 0px 12px;
		background-size: 23px 21px;
		padding-left: 48px;
		outline: none;
		font-size: 18px;
		margin-top: 10px;
	}
	.otherAddStyle{
		width:325px;
	}
	.register-box button{
		display: block;
		float: left;
		width:185px;
		height:52px;
		background: #FFFFFF;
		border-radius:26px;
		height: 52px;
		line-height: 52px;
		margin-top: 42px;
		font-size: 24px;
		color: #333;
	}
	.register-box button.login{
		margin-left: 70px;
	}
	.register-box button.register{
		background: #3478F6;
		color: #FFFFFF;
	}
	.btn-box{
		width:auto;
		height:auto;
		overflow:hidden;
		padding-bottom:20px;
	}
}

/*小于600*/
@media only screen and (min-width: 1200px) {
    .register-box{
    	position: fixed;
		width:333px;
		height:379px;
		overflow:auto;
		background:rgba(255,255,255,1);
		box-shadow:0px 0px 35px 0px rgba(0,0,0,0.08);
		border-radius:10px;
		top: 163px;
		right: 127px;
		opacity:0.8;
	}
	.register-box .title{
		text-align: center;
		font-size:30px;
		color: #333333;
		line-height:20px;
		padding-top: 40px;
	}
	.register-box .phone{
		display: block;
		width: 185px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		margin: 10px auto 0 auto;
		background: url(../images/login-icon-phone.png) no-repeat 0px 10px;
		background-size: 13px 19px;
		padding-left: 28px;
		outline: none;
	}
	.register-box .yzm-box{
		display: block;
		width: 213px;
		height: 32px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		margin: 0 auto;
		margin-top: 18px;
	}
	.register-box .yzm-box .yzm-img{
		display: block;
		float: left;
		width: 14px;
		height: 16px;
		margin-right: 11px;
	}
	.register-box .yzm-box .yzm{
		display: block;
		float: left;
		width: 110px;
	}
	.register-box .yzm-box .yzm-btn{
		display: block;
		float: right;
		width:75px;
		height:21px;
		line-height: 21px;
		background: #3478F6;
		border-radius:10px;
		font-size:12px;
		text-align: center;
		font-weight:400;
		color:rgba(255,255,255,1);
		cursor: pointer;
	}
	.register-box .pass{
		display: block;
		width: 185px;
		height: 40px;
		line-height:40px;
		padding: 0;
		border-bottom: 1px solid #3478F7;
		background: url(../images/login-icon-password.png) no-repeat -3px 11px;
		background-size: 23px 21px;
		padding-left: 30px;
		margin: 0 auto;
		margin-top: 10px;
	}
	.addInputStyle{
		display: block;
		width: 185px;
		height: 40px;
		line-height:40px;
		padding-left: 30px;
		border-bottom: 1px solid #3478F7;
		background-size: 23px 21px;
		margin: 10px auto 0 auto;
		background: url(../images/input.png) no-repeat 0px 12px;
		background-size: 23px 21px;
	}
	.register-box button{
		display: block;
		float: left;
		width:80px;
		height:33px;
		line-height: 33px;
		font-size: 16px;
		color: #3478F6;
		border-radius:16px;
		margin-left: 106px;
		margin-top: 26px;
		background-color: #FFFFFF;
		color: #333333;
		padding-bottom:20px;
	}
	.register-box button.login{
		margin-left: 70px;
		margin-right: 40px;
	}
	.register-box button.register{
		background-color: #3478F6;
		color: #FFFFFF;
		margin-left: 0;
	}
	.otherAddStyle{
		width:220px;
	}
	.btn-box{
		width:auto;
		height:auto;
		overflow:hidden;
		padding-bottom:20px;
	}
}
