.container{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/login-bg.jpg) no-repeat center center;
}
/*大于600*/
@media only screen and (max-width: 1200px) {
    .login-box{
    	position: fixed;
    	top: 261px;
    	right: 204px;
		width:533px;
		height:607px;
		background:rgba(255,255,255,1);
		box-shadow:0px 0px 35px 0px rgba(0,0,0,0.08);
		border-radius:10px;
	}
	.login-box .title{
		text-align: center;
		font-size:24px;
		font-weight:500;
		color:rgba(64,69,87,1);
		line-height:30px;
		padding-top: 94px;
	}
	.login-box .phone{
		display: block;
		margin: 0 auto;
		width: 290px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		border-bottom: 1px solid RGBA(182, 182, 182, 1);
		margin-top: 55px;
		background: url(../images/login-icon-phone.png) no-repeat 0px 12px;
		padding-left: 42px;
		outline: none;
	}
	.login-box .pass{
		display: block;
		margin: 0 auto;
		width: 290px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		border-bottom: 1px solid RGBA(182, 182, 182, 1);
		background: url(../images/login-icon-password.png) no-repeat 0px 12px;
		padding-left: 48px;
		outline: none;
	}
	.forget{
		display: block;
		margin: 0 auto;
		width: 340px;
		margin-top: 38px;
	}
	.forget input{
		float: left;
		width: 20px;
		height: 20px;
		margin-top: 0;
		margin-right: 13px;
	}
	.forget a{
		float: left;
		font-size: 18px;
		color: #414141;
		margin-top: -3px;
	}
	.forget-pass{
		float: right!important;
	}
	.login-box button{
		display: block;
		margin: 0 auto;
		width:185px;
		height:52px;
		background:rgba(121,121,252,1);
		border-radius:26px;
		height: 52px;
		line-height: 52px;
		margin-top: 32px;
		font-size: 24px;
		color: #FFFFFF;
	}
	.wechat{
		display: block;
		margin: 0 auto;
		width:299px;
		height:43px;
		
		background:rgba(255,255,255,1);
		border:1px solid rgba(156,166,255,1);
		border-radius:22px;
		margin-top: 30px;
	}
	.wechart-img{
		width: 40px;
		height: 31px;
		margin: -2px 25px 0 42px;
	}
	.wechat span{
		line-height: 43px;
		font-size:18px;
		font-weight:400;
		color:rgba(98,98,98,1);
	}
	.register{
		display: block;
		text-align: center;
		font-size:17px;
		font-weight:bold;
		color:RGBA(129, 129, 129, 1);
		margin-top: 40px;
	}
}

/*小于600*/
@media only screen and (min-width: 1200px) {
    .login-box{
    	position: fixed;
		width:333px;
		height:379px;
		background:rgba(255,255,255,1);
		box-shadow:0px 0px 35px 0px rgba(0,0,0,0.08);
		border-radius:10px;
		top: 163px;
		right: 127px;
	}
	.login-box .title{
		text-align: center;
		font-size:15px;
		font-weight:500;
		color:rgba(64,69,87,1);
		line-height:20px;
		padding-top: 40px;
	}
	.login-box .phone{
		display: block;
		width: 185px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border-bottom: 1px solid RGBA(182, 182, 182, 1);
		margin: 26px auto 0 auto;
		background: url(../images/login-icon-phone.png) no-repeat 0px 10px;
		background-size: 13px 19px;
		padding-left: 28px;
		outline: none;
	}
	.login-box .pass{
		display: block;
		width: 185px;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border-bottom: 1px solid RGBA(182, 182, 182, 1);
		background: url(../images/login-icon-password.png) no-repeat -3px 11px;
		background-size: 23px 21px;
		padding-left: 30px;
		margin: 0 auto;
		outline: none;
		border-bottom: 1px solid #B6B6B6!important;
	}
	
	.forget{
		display: block;
		width: 215px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.forget input{
		width: 12px;
		height: 12px;
		margin-top: 3px;
	}
	.forget a{
		font-size: 12px;
		color: #414141;
	}
	.forget-pass{
		float: right;
	}
	.login-box button{
		display: block;
		width:116px;
		height:33px;
		line-height: 33px;
		background:rgba(121,121,252,1);
		font-size: 16px;
		color: #FFFFFF;
		border-radius:16px;
		margin-left: 106px;
		margin-top: 20px;
	}
	.wechat{
		display: block;
		width:215px;
		height:25px;
		line-height: 25px;
		margin: 0 auto;
		background:rgba(255,255,255,1);
		border:1px solid rgba(156,166,255,1);
		border-radius:13px;
		margin-top: 20px;
	}
	.wechat img{
		width:25px;
		height:19px;
		margin-left: 26px;
		margin-right: 16px;
	}
	.wechat span{
		width:67px;
		font-size:12px;
		font-weight:400;
		color:rgba(98,98,98,1);
		font-size: 12px;
	}
	.register{
		display: block;
		text-align: center;
		margin-top: 26px;
		font-size:10px;
		font-weight:bold;
		color:RGBA(129, 129, 129, 1);
	}
}

.red{
	border-bottom: 1px solid #fc798f!important;
}
